# I live in /etc/drbd-reactor.d/linstor_db.toml
[[promoter]]
id = "linstor_db"
resource = "linstor_db"
# Maximum priority for the node
node-max-priority = true

# Define individual controller node priorities
{% for node in proxmox_controllers_to_register.split(', ') %}
[[promoter.node-priority]]
name = "{{ node }}"
priority = {{ hostvars[node].linstor_controller_priority | default(50) }}
{% endfor %}

[promoter.resources.linstor_db]
start = ["var-lib-linstor.mount", "linstor-controller.service", "linstor-gateway.service"]
stop = ["var-lib-linstor.mount", "linstor-controller.service", "linstor-gateway.service"]
on-stop-failure = "demote"  # Possible values: "ignore", "stop", "demote"
stop-services-on-exit = true  # Ensures services are stopped when the promoter exits

# Ensures that the db follows the nfs mount as the nfs mount uses the vip configured in here.
# The soft dependency ensures there's no issues on fresh cluster start as the nfs service needs the db service started somewhere to actually start
[[promoter.resource-dependencies]]
resource = "linstor-gateway-nfs-nfs"
type = "soft"
